/* Section one */

.one{
  height: 25vh;
  width: 100vw;
  background-image: url('attachments/bgone.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divforsectionone{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.toprowwiththings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoandname{
  padding-left: 3vw;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 5vw;
  font-weight: 600;
}

.tabs{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
}

.tabs a{
  color: white;
  text-decoration: none;
}

.tabs > a{
  margin: 10px;
}

.logoandname img{
  height: 6vw;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(351deg) brightness(104%) contrast(102%);
}

.loremipsumgithub{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loremipsumgithub p{
  color: white;
  font-weight: 700;
  font-size: 5vw;
}

.firstpagebutton{
  font-size: 3vh;
  width: fit-content;
  padding: 5px 20px 5px 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: 700;
  opacity: .4;
  cursor: pointer;
}

.logos{
  padding-top: 10vh;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30vw;
}

.logos img{
  height: 4vh;
}

/* CSS for the contact us page */

.divforsectiononeslide2{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* color: white; */

}
.toprow-s1s2{
  padding-left: 30vw;
  padding-top: 3vw;
  display: flex;
  flex-direction: row;
}
.Contactus{
  font-size: 5vw;
  font-weight: 600;

}
.logottt{
  width: 6.5vw;
}
.Form{
  display: flex;
  flex-direction: row;
  margin-left: 24vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding: right 3vw;
  margin-right: 22vw;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 2vw;
}
.input-fields{
  display: flex;
  flex-direction: column;
}
.msg{
  padding-left: 3vw;
  width: 44%;
}
.input-fields{
  width: 35%;
}
.input-fields .input{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  font-size: 1vw;
  color: #c5ecfd;
  width: 100%;
  height: 27vh;
}
.dets{
  padding-left: 3vw;
  padding-right: 3vw;
  color: #39b7dd;
  font-size: .85vw;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  font-size: 1.5vw;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-size: 1.5vw;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  font-size: 1.5vw;
}
.btn {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 768px){
  .Form{
    flex-direction: column;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  .msg textarea{
    /* height: 80px; */
    height: 17vw;
    font-size: 2vh;
  }
  
  .msg{
    width: 80%;
    padding-left: 0vw;
  }
  .input-fields{
    width: 80%;
    font-size: 2vh;
  }
  .dets{
    font-size: 1.75vw;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    font-size: 3vw;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-size: 3vw;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
    font-size: 3vw;
  }
  
}







/* Section two */
.two{
  height: 25vh;
  width: 100vw;
  background-image: url('attachments/sadman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divforsectiontwo{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-part-s2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 35vw; */
  /* margin-top: -10vh; */
  padding-bottom: 20vh;
}
.s2-logo-name{
  padding-left: 37vw;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 4vw;
  font-weight: 600;
}

.s2-logo-name img{
  height: 5.0125vw;
  filter: invert(0%) sepia(0%) saturate(23%) hue-rotate(104deg) brightness(104%) contrast(100%) opacity(.85);
  
}
.proj-container{
  padding-top: -20vh;
  padding-left: 6vw;
  display: flex;
  flex-direction: row;
}
.proj-container-left{
  padding-left: 1vw;
  display: flex;
  flex-direction: row;

}
.proj-container-left img{
  height: 20vw;
  border-radius: 3vh;
}
.proj-container-right{
  display: flex;
  flex-direction: row;
  padding-left: 9vw;
  

}
.proj-container-right img{
  height: 20vw;
  border-radius: 3vh;
}
.proj-container-right-box{
  padding-left: 1vw;
}
.proj-container-left-box{
  padding-left: 2vh;
}
.proj-txt{
  font-size: 2vh;
  text-align: left;
  color: white;
  font-weight: 700;
}

@media (max-width: 768px){

  .proj-container{
    flex-direction: column;
    padding-left: 2vw;
    padding-top: -1vh;
  }
  .proj-container-left{
    flex-direction: row;
    justify-content: center;
    padding-left: 3vw;
  }
  .proj-container-left img{
    height: 18vh;
    border-radius: 1vh;
  }
  .proj-container-left-box{
    padding-left: 7vw;
  }
  .proj-container-right{
    flex-direction: row;
    padding-left: 7vw;
  }
  .proj-container-right img{
    height: 18vh;
    border-radius: 1vh;
  }
  .proj-container-right-box{
    padding-left: 3.5vw;
  }
  .proj-txt{
    font-size: 3.25vh;
    text-align: left;
    color: ghostwhite;
    font-weight: 700;
  }
  .top-part-s2{
    padding-bottom: 4vh;
  }
  .s2-logo-name{
    font-size: 3.5vh;
    padding-left: 25vw;
  }
  .s2-logo-name img{
    height: 4.5vh;
  }

}


/* Section three */

.three{
  height: 25vh;
  width: 100vw;
  background-image: url('attachments/bgthree.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divforsectionthree{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.services{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services img{
  height: 22vw;
}

.lowerthingservices{
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 768px){
  .lowerthingservices{
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
  }
}

.servicecard{
  display: flex;
  flex-direction: column;
}

.servicecard h1{
  color: #515111;
}

.servicecard img{
  width: 6vw;
}

.servicecard p{
  text-justify: inter-cluster;
}

.lowerthingservices > div{
  margin: 3vw;
}

@media (max-width: 768px){
  .lowerthingservices > div{
    margin: 0vw;
  }
  .emptyh1{
    display: none;
  }

  .services img{
    display: none;
  }

  h1{
    font-size: 3vh;
  }
}
/* Section four */
.four{
  height: 25vh;
  width: 100vw;


  background-image: url('attachments/beachcrop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 3vw;
  display: flex;
  flex-direction: row;

  color: black;
  font-weight: 600;
  font-size: 5vh;
  letter-spacing: -40;
}

.body{
  font-family: 'Montserrat', sans-serif;
}

.BEHEN{
  height: 60vh;
  width: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aboutus-cont{
  height: 40vh;
  width: 80vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3vh;

}

.found{
  display: flex;
  flex-direction: row;
  padding-right: 2vw;
  padding-left: 0vw;
  width: 100vw;
}
.dabba{
  padding-left: 9vw;
  opacity: 1;
  border-radius: 3vh;
  text-align: center;
  size: 1vh;
}

.found-ph{
  width: 20vw;
  box-sizing: border-box;
  border-radius: 3vh;
  text-align: center;
  /* height: max-content; */
  font-size: 1.0215vw;
}

.founder{
 height: 15vw;
 border-radius: 5vh;

}
@media(min-width: 650px) AND (max-width: 768px){
  .found{
    flex-direction: column;
    padding-left: 0vw;
    height: 70vh;
  }
  .founder{
   height: 14vw;
   border-radius: 3vh;
  
  }
  .dabba{
    padding-right: 10vw;
    opacity: 1;
    display: flex;
    flex-direction: row;
    border-radius: 3vh;
    text-align: center;
    margin: 1.5vw;
    font-size: 2vw;
  }
  .found-ph{
    box-sizing: border-box;
    border-radius: 0vh;
    width: 95vw;
    text-align: left;
    margin-left: 0vw;
    padding-left: 0vw;
    height: max-content;
    font-size: 2vw;
  }


}

@media (max-width: 649px){
  .found-ph{
    font-size: 2.25vw;
  }


}
.Abt{
  height: 28vh;
  width: 28vw;
  justify-content: center;
  padding-left: 33vw;
}
.aboutustxt{
  padding-left: 10vw;
  font-size: 2.3vh;
  text-align: center;

}
@media(max-width: 768px){
  .Abt{
    height: 28vh;
    width: 28vw;
    justify-content: center;
    padding-left: 32vw;
  }
  .aboutustxt{
    padding-left: 10vw;
    font-size: 2vh;
  
  }

}